<div class="modal-body row">
  <div class="col-md-6", style="padding-left:0">
    <div class="container", style="padding-left:0">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
              <div class="form-inline">
                  <h5>Sort by:
                  <%= link_to "Title", class: "btn btn-primary btn-md", sort: "title DESC"%>,
                  <%= link_to "Released date", class: "btn btn-primary btn-md", sort: "release_date DESC"%>,
                  <%= link_to "Genre", sort: "genre DESC", class: "btn btn-primary btn-md"%> </h5>
              </div>
            </div>
          </div>
      </div>
    </div>
    <% @movies.each do |movie| %>
      <%= render partial: 'movies/post', locals: { movie: movie } %>
    <% end %>
    <%= will_paginate @movies %>
  </div>
  <div class="col-md-4", style="padding-left:0">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
              <h3> Recent Reviews </h3>
              <% for i in 0..3 %>
                <div class="media">
                  <div class="media-body">
                    <h6 class="media-heading">
                      <div class="reviews">
                        <p class="inline">
                          <%= link_to "#{@reviews[@reviews.length-1-i].body}", edit_movie_review_path(@reviews[@reviews.length-1-i].movie, @reviews[@reviews.length-1-i]) %>
                        <div class="star-rating" data-score= <%= @reviews[@reviews.length-1-i].score %> ></div></p>
                      </div>
                      <medium>Title - <%= @reviews[@reviews.length-1-i].movie.title %></medium>
                      <hr style="height:1px">
                    </h6>
                  </div>
                </div>
              <% end %>
              <%= link_to "View all Reviews", show_path, class: "btn btn-primary btn-xs" %>
            </div>
          </div>
        </div>
      </div>
   <!-- Your second column here -->
   <div class="container">
     <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6">
           <div class="well well-sm">
             <h3> Recent Movies </h3>
               <% for i in 0..3 %>
                 <div class="media">
                   <div class="media-body">
                     <h6 class="media-heading">
                       <div class="reviews">
                         Title - <%= @recent_movies[i].title %>
                         <div class="star-rating" data-score= <%= @recent_movies[i].rating %> >
                         </div>
                       </div>
                       <hr style="height:1px">
                     </h6>
                   </div>
                 </div>
               <% end %>
               <%= link_to "View all Movies", movies_path, class: "btn btn-primary btn-xs" %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
